@model Book

<form method="post">
    <div class="container my-4">
        <div class="row mb-3">
            <h2>افزودن کتاب</h2>
            <hr />
        </div>

        <div class="row mb-2">
            <label class="text-primary mb-1" asp-for="Title"></label>
            <input class="form-control mb-2" asp-for="Title" />
            <span class="mb-4 text-danger" asp-validation-for="Title"></span>

            <label class="text-primary mb-1 mt-2" asp-for="ShortDescription"></label>
            <input class="form-control mb-2" asp-for="ShortDescription" />
            <span class="mb-4 text-danger" asp-validation-for="ShortDescription"></span>


            <label class="text-primary mb-1 mt-2" asp-for="CoverImage"></label>
            <input class="form-control mb-2" asp-for="CoverImage" />
            <span class="mb-4 text-danger" asp-validation-for="CoverImage"></span>


            <label class="text-primary mb-1 mt-2" asp-for="Author"></label>
            <input class="form-control mb-2" asp-for="Author" />
            <span class="mb-4 text-danger" asp-validation-for="Author"></span>

            <label class="text-primary mb-1 mt-2" asp-for="Publisher"></label>
            <input class="form-control mb-2" asp-for="Publisher" />
            <span class="mb-4 text-danger" asp-validation-for="Publisher"></span>

            <label class="text-primary mb-1 mt-2" asp-for="DownloadLink"></label>
            <input class="form-control mb-2" asp-for="DownloadLink" />
            <span class="mb-4 text-danger" asp-validation-for="DownloadLink"></span>

        </div>
        <div class="row my-4">
            <button type="submit" class="col-6 col-md-3 btn btn-primary">افزودن</button>
            <a asp-controller="Book" asp-action="Manage" class="col-6 col-md-3 btn btn-secondary">انصراف</a>
        </div>
    </div>
</form>