@model IEnumerable<Book>

<div class="container">
    <header>
        <div class="main row pb-2">
            <h2 class="text-primary text-center">لیست کتاب ها ...</h2>
        </div>
        <div class="row mt-4 pb-4">
            <div class="col-11">
                <input class="form-control text-primary shadow" style="border-radius: 30px; width: 100%" placeholder="کتاب مورد نظر خود را جستجو کنید">
            </div>
            <div class="col-1">
                <button class="btn btn-primary form-control btn-group" style="width:10%; border-radius:25px;"><i class="bi bi-search"></i></button>
            </div>
        </div>
        <hr />
        <br />
    </header>

    <div class="row">
        @foreach (Book book in Model)
        {
            <div class="col-md-4">
                <div class="card mb-5 box-shadow" style="width: 250px;">
                    <img class="card-img-top" src="@book.CoverImage" alt="@book.Title">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a  href="@book.DownloadLink" target="_blank" class="btn btn-sm btn-outline-secondary">دانلود</a>
                                <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-sm btn-outline-secondary">مشاهده جزئیات</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>