@model Seminar

<form method="post">
    <div class="container">
        <div class="row mb-3">
            <h2>افزودن سمینار</h2>
            <hr />
        </div>

        <div class="row mb-2">
            <label class="text-primary mb-1" asp-for="Title"></label>
            <input class="form-control mb-2" asp-for="Title" />
            <span class="mb-4 text-danger" asp-validation-for="Title"></span>

            <label class="text-primary mb-1 mt-2" asp-for="CoverImage"></label>
            <input class="form-control mb-2" asp-for="CoverImage" />
            <span class="mb-4 text-danger" asp-validation-for="CoverImage"></span>


            <label class="text-primary mb-1 mt-2" asp-for="Level"></label>
            <input id="tinyEditor" class="form-control mb-2" asp-for="Level" />
            <span class="mb-4 text-danger" asp-validation-for="Level"></span>

            <label class="text-primary mb-1 mt-2" asp-for="Price"></label>
            <input id="tinyEditor" class="form-control mb-2" asp-for="Price" />
            <span class="mb-4 text-danger" asp-validation-for="Price"></span>

            <label class="text-primary mb-1 mt-2" asp-for="Teacher"></label>
            <input id="tinyEditor" class="form-control mb-2" asp-for="Teacher" />
            <span class="mb-4 text-danger" asp-validation-for="Teacher"></span>

            <label class="text-primary mb-1 mt-2" asp-for="ReleaseTime"></label>
            <input id="tinyEditor" class="form-control mb-2" asp-for="ReleaseTime" />
            <span class="mb-4 text-danger" asp-validation-for="ReleaseTime"></span>


        </div>
        <div class="row my-4">
            <button type="submit" class="col-6 col-md-3 btn btn-primary">افزودن</button>
            <a asp-controller="Seminar" asp-action="Manage" class="col-6 col-md-3 btn btn-secondary">انصراف</a>
        </div>
    </div>
</form>