@model Seminar

<form method="post">
    <div class="container">
        <div class="row mb-3">
            <h2>افزودن سمینار</h2>
            <hr />
        </div>

        <div class="row mb-2">
            <label class="text-primary mb-1" asp-for="Title"></label>
            <input class="form-control mb-2" asp-for="Title" />
            <span class="mb-4 text-danger" asp-validation-for="Title"></span>

            <label class="text-primary mb-1 mt-2" asp-for="CoverImage"></label>
            <input class="form-control mb-2" asp-for="CoverImage" />
            <span class="mb-4 text-danger" asp-validation-for="CoverImage"></span>


            <label class="text-primary mb-1 mt-2" asp-for="Level"></label>
            <input id="tinyEditor" class="form-control mb-2" asp-for="Level" />
            <span class="mb-4 text-danger" asp-validation-for="Level"></span>

            <label class="text-primary mb-1 mt-2" asp-for="Price"></label>
            <input id="tinyEditor" class="form-control mb-2" asp-for="Price" />
            <span class="mb-4 text-danger" asp-validation-for="Price"></span>

            <label class="text-primary mb-1 mt-2" asp-for="Teacher"></label>
            <input id="tinyEditor" class="form-control mb-2" asp-for="Teacher" />
            <span class="mb-4 text-danger" asp-validation-for="Teacher"></span>

            <label class="text-primary mb-1 mt-2" asp-for="ReleaseTime"></label>
            <input id="persianDateTime" class="form-control mb-2" asp-for="ReleaseTime" />
            <span id="persianDateTime" class="mb-4 text-danger" asp-validation-for="ReleaseTime"></span>


        </div>
        <div class="row my-4">
            <button type="submit" class="col-6 col-md-3 btn btn-primary mb-4">افزودن</button>
            <a asp-controller="Seminar" asp-action="Manage" class="col-6 col-md-3 btn btn-secondary mb-4">انصراف</a>
        </div>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="js/persianDatepicker.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#persianDateTime").persianDatepicker({
                months: ["فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفند"],
                dowTitle: ["شنبه", "یکشنبه", "دوشنبه", "سه شنبه", "چهارشنبه", "پنج شنبه", "جمعه"],
                shortDowTitle: ["ش", "ی", "د", "س", "چ", "پ", "ج"],
                showGregorianDate: !1,
                persianNumbers: !0,
                formatDate: "YYYY/MM/DD",
                selectedBefore: !1,
                selectedDate: null,
                startDate: null,
                endDate: null,
                prevArrow: '\u25c4',
                nextArrow: '\u25ba',
                theme: 'default',
                alwaysShow: !1,
                selectableYears: null,
                selectableMonths: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                cellWidth: 25, // by px
                cellHeight: 20, // by px
                fontSize: 13, // by px
                isRTL: !1,
                calendarPosition: {
                    x: 0,
                    y: 0,
                },
                onShow: function () { },
                onHide: function () { },
                onSelect: function () { },
                onRender: function () { }
            });
        });
    </script>
}
