@model Seminar

<form method="post">
    <input asp-for="Id" hidden />
    <div class="container">
        <div class="row mb-3">
            <h2>ویرایش سمینار</h2>
            <hr />
        </div>

        <div class="row mb-2">
            <label class="text-primary mb-1" asp-for="Title"></label>
            <input class="form-control mb-2" asp-for="Title" />
            <span class="mb-4 text-danger" asp-validation-for="Title"></span>

            <label class="text-primary mb-1 mt-2" asp-for="CoverImage"></label>
            <input class="form-control mb-2" asp-for="CoverImage" />
            <span class="mb-4 text-danger" asp-validation-for="CoverImage"></span>


            <label class="text-primary mb-1 mt-2" asp-for="Level"></label>
            <input id="tinyEditor" class="form-control mb-2" asp-for="Level" />
            <span class="mb-4 text-danger" asp-validation-for="Level"></span>

            <label class="text-primary mb-1 mt-2" asp-for="Price"></label>
            <input id="tinyEditor" class="form-control mb-2" asp-for="Price" />
            <span class="mb-4 text-danger" asp-validation-for="Price"></span>

            <label class="text-primary mb-1 mt-2" asp-for="Teacher.Name"></label>
            <input id="tinyEditor" class="form-control mb-2" asp-for="Teacher.Name" />
            <span class="mb-4 text-danger" asp-validation-for="Teacher.Name"></span>

            <label class="text-primary mb-1 mt-2" asp-for="ReleaseTime"></label>
            <input id="persianDateTime" class="form-control mb-2" asp-for="ReleaseTime" />
            <span id="persianDateTime" class="mb-4 text-danger" asp-validation-for="ReleaseTime"></span>

        </div>
        <div class="row my-4">
            <button type="submit" class="col-6 col-md-3 btn btn-primary mb-4">ویرایش</button>
            <a asp-controller="Seminar" asp-action="Manage" class="col-6 col-md-3 btn btn-secondary mb-4">انصراف</a>
        </div>
    </div>
</form>