* {
    letter-spacing: 0.2px;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    direction: rtl;
}

body {
    margin-bottom: 60px;
    font-family: "Baloo Bhaijaan 2", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: normal !important;
    font-style: normal !important;
}

small {
    display: flex;
}

img {
    border-radius: 30px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn {
    border-radius: 3px;
}

.round {
    border-radius: 15px;
}

.navigation-box {
    width: 250px;
    margin: 0 auto;
}

.navigation-btn {
    width: 100%;
}

.box-book-stand {
    width: 250px;
}

.blog-stand {
    height: 450px;
}

.img-cover {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 0.5px solid #ccc;
    width: 300px;
}

.fill {
    width: 100%;
}

#search-box {
    border-radius: 30px;
    width: 100%;
    text-align: center;
}

#btn-search {
    width: 10%;
    border-radius: 25px
}

#book-stand {
    height: 300px;
    width: 250px;
    align-content: center;
}

#send-box {
    border-radius: 30px;
    width: 100%;
    text-align: right;
    margin: 100%, 0, 0, 0;
}
