<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DevsMedia.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DevsMedia.Web.styles.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> @*Bootstrap Theme (main theme)*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan+2" /> @*Font*@

</head>
<body>
    <header>
        <nav class="navbar navbar-toggleable-sm navbar-light border-bottom box-shadow navbar-expand-sm bg-dark mb-3" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-controller="Home" asp-action="Index">دومدیا</a>
                <button class="navbar-toggler btn-light" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Index">خانه</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Blog" asp-action="Index">بلاگ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Book" asp-action="Index">کتاب</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Community" asp-action="Index">انجمن</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Seminar" asp-action="Index">سمینار</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Privacy">قوانین</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 -  تمامی حقوق متعلق به دومدیا میباشد.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
