@page
@using Delt.Models.Enums
@model ProgrammerType

<div class="container">

    <input type="hidden" id="displayName" />
    <input type="text" class="w-100" id="messageInput" />
    <input type="button" id="sendButton" value="Send Message" />
    <ul id="messagesList"></ul>

    
    
</div>

<script>
    $(function start() {
        $("#displayName").val(prompt("Please enter your name", "Harry Potter"));
    })
</script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
