@model IEnumerable<Book>

<div class="container">
    <div class="row">
        @foreach (Book book in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="@book.CoverImage" alt="@book.Title">
                    <div class="card-body">
                        <p class="card-text">@book.ShortDescription</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">دانلود</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">مشاهده جزئیات</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>